/* REGOLE GENERALI */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ms_height-50px{
    height: 50px;
}

.ms_sony-logo{
    width: 80px;
}

.ms_text-black{
    color: black !important;
}

#ms_jumbo{
    background-image: url('img/jumbo-bg.png');
    background-repeat: no-repeat;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.ms_text_blu-celeste{
    color: #0977d0;
}