/* REGOLE GENERALI */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ms_height-fix{
    height: 126px;
    width: 100%;
}
.ms_height-50px{
    height: 50px;
}

.ms_sony-logo{
    width: 80px;
}

.ms_text-black{
    color: black !important;
}
.ms_freccia-drop-nav{
    width: 12px;
}
.ms_freccia-blu-drop-nav{
    width: 12px;
    display: none;
}


.ms_pallino-blu{
    color: #2b70d1;
    font-size: 6px;
    vertical-align: middle;
}
#ms_jumbo{
    background-image: url('img/jumbo-bg.png');
    background-repeat: no-repeat;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.ms_img-returnal-banner{
    width: 270px;
}
.ms_text-1{
    font-size: 40px;
    font-weight: bolder;
}
.ms_text-2{
    font-size: 18px;
    font-weight: bolder;
}
.ms_button-red{
    background-color: #cd3d0f;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 12px;
}
.ms_text_blu-celeste{
    color: #0977d0;
}
.ms_border_giochi{
    border-radius: 15px;
}
.ms_bordo-blu-giochi{
    border: solid 2px rgba(47,140,215,1);
    cursor: pointer;
    transition: top ease 0.5s;
}
.ms_hover-giochi{
    border: solid 2px rgba(47,140,215,0);
}

.ms_opacity{
    opacity: 0.5;
}
#ms_bg-secondo{
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    background-repeat: no-repeat;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.ms_bg-grigio{
    background-color: #1f1f1f;
    min-height: 200px;
}

#ms_bg-terzo{
    background-color: #bebcbb;
}
.ms_img-psplus-1{
    width: 50%;
}

.ms_button-grey{
    background-color: #d9dadc;
    border-radius: 30px;
    color: blue;
    border: none;
    padding: 10px 12px;
}

#ms_bg-quarto{
    background-color: #161c3b;
}
.ms_button-white{
    background-color: white;
    border-radius: 30px;
    border: none;
    padding: 10px 12px;
}

#ms_bg-quinto{
    background-color: #00439c;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
}
li{
    padding: 4px 0px;
}
.ms_globe-svg{
    width: 20px;
}
.ms_logo-ps-footer{
    width: 20%;
}
.ms_logo-sie-footer{
    width: 50%;
}


/* REGOLE DI HOVER */
.nav-link:hover {
    color: #2b70d1 !important;
}

header li:hover .ms_freccia-blu-drop-nav{
    display: inline-block;
}

header li:hover .ms_freccia-drop-nav{
    display: none;
}

.ms_hover-giochi:hover{
    border: solid 2px rgba(47,140,215,1);
    cursor: pointer;
    transition: top ease 0.5s;
}




/* REGOLE ANIMAZIONI */
.ms_img-animation:hover .ms_animation{
    position: relative;
    animation-name: gotop;
    animation-duration: 2s;
}

@keyframes gotop {
    0%   {
        left:0px;
        bottom:0px;
    }
    
    50%  {
        box-shadow: 5px 10px 8px 10px gray;
        
        left:0px; bottom:60px;
    }
    
    100% { 
        left:0px;
        bottom:0px;
    }
  }